- name: "HTH | PipX | Install package globally"
  ansible.builtin.command: |
    pipx install \
    --global \
    {{ '--force' if (package.force is defined and package.force) else '' }} \
    {{ package.name + '==' + package.version if (package.version is defined) else package.name }}
  when:
    - package.remove is undefined or not package.remove

- name: "HTH | PipX | Uninstall package globally"
  ansible.builtin.command: "pipx uninstall --global {{ package.name }}"
  when:
    - package.remove is defined and package.remove
